/* Color Palette */
.root-pane {
    -fx-background-color: linear-gradient(to bottom right, #1a1c1e, #2c3e50);
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.label {
    -fx-text-fill: #adb5bd;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

/* Header & Status */
.status-header {
    -fx-background-color: #212529;
    -fx-padding: 15;
    -fx-background-radius: 8;
    -fx-border-color: #343a40;
    -fx-border-width: 1;
}

.status-value {
    -fx-text-fill: #4dabf7;
    -fx-font-size: 16px;
    -fx-font-family: "Consolas";
}

/* Cards */
.card {
    -fx-background-color: rgba(43, 48, 53, 0.7);
    -fx-background-radius: 12;
    -fx-padding: 12;
    -fx-border-color: rgba(255, 255, 255, 0.1);
    -fx-border-radius: 12;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 15, 0, 0, 8);
}

.card-header {
    -fx-text-fill: #dee2e6;
    -fx-font-size: 11px;
    -fx-opacity: 0.8;
}

/* Inputs & Lists */
.list-view,
.text-area {
    -fx-background-color: #2b3035;
    -fx-background-insets: 0;
    -fx-text-fill: #e9ecef;
    -fx-border-color: #495057;
    -fx-border-radius: 4;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #dee2e6;
    -fx-padding: 5;
}

.list-cell:filled:selected {
    -fx-background-color: #495057;
}

.memory-container {
    -fx-padding: 15;
    -fx-background-color: #2b3035;

}

.memory-scroll {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-border-color: #495057;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

.memory-scroll > .viewport {
    -fx-background-color: #2b3035;
    -fx-background-radius: 4;
}

.memory-scroll .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-width: 8;
}

.memory-scroll .scroll-bar:vertical .thumb {
    -fx-background-color: #4b5263;
    -fx-background-radius: 10;
}

.memory-text-area .content {
    -fx-background-color: #1a1c1e;
}


/* Buttons */
.button {
    -fx-cursor: hand;
    -fx-transition: 0.2s;
}

.button-start {
    -fx-background-color: #2f9e44;
    -fx-text-fill: white;
}

.button-start:hover {
    -fx-background-color: #40c057;
}

.button-secondary {
    -fx-background-color: #495057;
    -fx-text-fill: white;
}

.input-card {
    -fx-background-color: #343a40;
    -fx-border-color: #4dabf7;
    -fx-border-width: 2 0 0 0;
}